
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/_LayoutPage1.cshtml";
}



<!-- main-slider -->
<section class="w3l-main-slider" id="home">
    <div class="companies20-content">
        <div class="owl-one owl-carousel owl-theme">
            <div class="item">
                <li>
                    <div class="slider-info banner-view bg bg2">
                        <div class="banner-info">
                            <div class="container">
                                <div class="banner-info-bg text-left">
                                    <p>1$ make Change</p>
                                    <h5>Humanity Is All About</h5>
                                    <a href="https://localhost:44323/Home/About" class="btn btn-white">Lire la suite</a>
                                </div>
                            </div>
                        </div>
                        <div class="banhny-w3grids">
                            <div class="banhny-w3grids-1">
                                <img src="~/img/bv1 (1).jpg" class="img-curve img-fluid" alt="" />
                                <h4><a href="#" class="hnys-title">Social Welfare</a></h4>
                            </div>
                            <div class="banhny-w3grids-1">
                                <img src="~/img/bv.jpg" class="img-curve img-fluid" alt="" />
                                <h4><a href="#" class="hnys-title">Healthcare</a></h4>
                            </div>
                        </div>
                    </div>
                </li>
            </div>
            <div class="item">
                <li>
                    <div class="slider-info  banner-view banner-top1 bg bg2">
                        <div class="banner-info">
                            <div class="container">
                                <div class="banner-info-bg text-left">
                                    <p>1$ make Change</p>
                                    <h5>Be nice humain</h5>
                                    <a href="https://localhost:44323/Home/About" class="btn btn-white">Lire la suite</a>
                                </div>
                            </div>
                        </div>
                        <div class="banhny-w3grids">
                            <div class="banhny-w3grids-1">
                                <img src="~/img/bv1 (3).jpg" class="img-curve img-fluid" alt="" />
                                <h4><a href="#" class="hnys-title">Self-sufficiency</a></h4>
                            </div>
                            <div class="banhny-w3grids-1">
                                <img src="~/img/bv1 (4).jpg" class="img-curve img-fluid" alt="" />
                                <h4><a href="#" class="hnys-title">safe hands</a></h4>
                            </div>
                        </div>
                    </div>
                </li>
            </div>
            <div class="item">
                <li>
                    <div class="slider-info banner-view banner-top2 bg bg2">
                        <div class="banner-info">
                            <div class="container">
                                <div class="banner-info-bg text-left">
                                    <p>1$ make Change</p>
                                    <h5>We Survive Together</h5>
                                    <a href="https://localhost:44323/Home/About" class="btn btn-white">Lire la suite</a>
                                </div>
                            </div>
                        </div>
                        <div class="banhny-w3grids">
                            <div class="banhny-w3grids-1">
                                <img src="~/img/bv1 (5).jpg" class="img-curve img-fluid" alt="" />
                                <h4><a href="#" class="hnys-title">Organic Fertilizers</a></h4>
                            </div>
                            <div class="banhny-w3grids-1">
                                <img src="~/img/bv1 (6).jpg" class="img-curve img-fluid" alt="" />
                                <h4><a href="#" class="hnys-title">Expert & Professional Farm</a></h4>
                            </div>
                        </div>
                    </div>
                </li>
            </div>
            <div class="item">
                <li>
                    <div class="slider-info banner-view banner-top3 bg bg2">
                        <div class="banner-info">
                            <div class="container">
                                <div class="banner-info-bg text-left">
                                    <p>1$ make Change</p>
                                    <h5>
                             Focus On Humanity, Not On Technology
                                    </h5>
                                    <a href="https://localhost:44323/Home/About" class="btn btn-white">Lire la suite</a>
                                </div>
                            </div>
                        </div>
                        <div class="banhny-w3grids">
                            <div class="banhny-w3grids-1">
                                <img src="~/img/bv1 (7).jpg" class="img-curve img-fluid" alt="" />
                                <h4><a href="#" class="hnys-title">Organic Fertilizers</a></h4>
                            </div>
                            <div class="banhny-w3grids-1">
                                <img src="~/img/bv1 (8).jpg" class="img-curve img-fluid" alt="" />
                                <h4><a href="#" class="hnys-title">Expert & Professional Farm</a></h4>
                            </div>
                        </div>
                    </div>
                </li>
            </div>
        </div>
    </div>
</section>
<!-- /main-slider -->
<!--/grids-->
<section class="w3l-grids-3 py-5" id="about">
    <div class="container py-md-5">
        <div class="row bottom-ab-grids align-items-center">
            <div class="col-lg-6 bottom-ab-left pr-lg-5">
                <h6 class="sub-title">About Us</h6>
                <h3 class="hny-title">
                    A New Way To Help Humanity 
                </h3>
                <p class="my-3 pr-lg-4">
                    While many feel that there is nothing they can do to make a difference, it is always easier than one thinks. Here are some ideas of things anyone can do and how they could change the world.
                </p>
                <a href="https://localhost:44323/Home/About" class="btn btn-style btn-secondary mt-4">Lire la suite</a>
            </div>
            <div class="col-lg-6 bottom-ab-right mt-lg-0 mt-5">
                <img src="~/img/tr.jpg" class="img-curve img-fluid" alt="" />
            </div>

        </div>
    </div>
</section>
<!--//grids-->
<!--/services-->
<section class="w3l-services1">
    <div id="content-with-photo4-block" class="py-5">
        <div class="container py-md-5">
            <div class="cwp4-two row">
                <div class="cwp4-image col-lg-6 pr-lg-5 mb-lg-0 mb-5">
                    <img src="~/img/tr1.jpg" class="img-fluid" alt="" />
                </div>
                <div class="cwp4-text col-lg-6">
                    <h6 class="sub-title">what We Do</h6>
                    <h3 class="hny-title">What we provide for HumainCo</h3>
                    <p>
                        A free and safe place for humankind to learn and share knowledge. That is what we strive to provide, a place where scientists, inventors and teachers can share their ideas with others.
                    </p>

                    <ul class="cont-4">
                        <li><span class="fa fa-check"></span> Safety</li>
                        <li><span class="fa fa-check"></span> Medicine</li>
                        <li><span class="fa fa-check"></span> Education</li>
                        <li><span class="fa fa-check"></span> Food</li>
                        <li><span class="fa fa-check"></span> Better Living Conditions</li>

                    </ul>
                </div>

            </div>
        </div>
    </div>
</section>
<!--//services-->
<!--/grids-->
<section class="w3l-grids-3 py-5" id="flipbg">
    <div class="container py-md-5">
        <div class="w3flip-content">
            <div class="row">
                <div class="col-md-6 bg-left px-lg-0">
                    <div class="bg-left-img position-relative">
                        <img src="~/img/bf.jpg" class="img-fluid" alt="">
                        <h4 class="tex1-p">Before</h4>
                    </div>

                </div>
                <div class="col-md-6 mt-md-0 mt-4 bg-right px-lg-0">
                    <div class="bg-right-img position-relative">
                        <img src="~/img/af.jpg" class="img-fluid" alt="">
                        <h4 class="tex1-p">After</h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--//grids-->
<!--/grids2-->
<section class="w3l-how-grids-3 py-5" id="how">
    <div class="container py-md-5">
        <div class="w3l-header mb-md-5 mb-4">
            <h6 class="sub-title">HumainCO</h6>
            <h3 class="hny-title">
                We Do The 
                Best For<br> Make Smile 
            </h3>
            <p class="">Supported by the UNHCR.</p>
        </div>
        <div class="row bottom-ab-grids align-items-center">
            <div class="col-lg-4 bottom-ab-left">
                <div class="grdhny-info">
                    <img src="~/img/un (1).jpg" class="img-curve img-fluid" alt="" />
                    <h4><a href="#" class="hnys-title">Appropriate Clothes</a></h4>
                    <p class="mt-2">
                        Appropriate clothes are a major cause of occasional embarrassment. That's why we are going to be taking a look at the 37 best websites to learn something new.
                    </p>
                </div>
            </div>
            <div class="col-lg-4 bottom-ab-right my-lg-0 my-5">
                <div class="grdhny-info">
                    <img src="~/img/un (2).jpg" class="img-curve img-fluid" alt="" />
                    <h4><a href="#" class="hnys-title">Entertainement</a></h4>
                    <p class="mt-2">
                        We all have lives we want, right? Let's get the creative juices flowing! This is your place for ideas for self-improvement.
                    </p>
                </div>
            </div>
            <div class="col-lg-4 bottom-ab-right">
                <div class="grdhny-info">
                    <img src="~/img/un (3).jpg" class="img-curve img-fluid" alt="" />
                    <h4><a href="#" class="hnys-title">Healthy Nutrition</a></h4>
                    <p class="mt-2">
                        maintenance of a healthy lifestyle.
                        This article is going to discuss the three topics listed above in order to help people understand what they need to do in order to maintain their health.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>


<!--//grids2-->
<!-- stats -->
<section class="w3l-stats py-5" id="stats">
    <div class="gallery-inner container py-lg-0 py-3">
        <div class="row stats-con pb-lg-3">
            <div class="col-lg-3 col-6 stats_info counter_grid">
                <p class="counter">730</p>
                <h4>Engaged in HumainCo</h4>
            </div>
            <div class="col-lg-3 col-6 stats_info counter_grid1">
                <p class="counter">680</p>
                <h4>beneficiaries</h4>
            </div>
            <div class="col-lg-3 col-6 stats_info counter_grid mt-lg-0 mt-5">
                <p class="counter">812</p>
                <h4>children in need</h4>
            </div>
            <div class="col-lg-3 col-6 stats_info counter_grid2 mt-lg-0 mt-5">
                <p class="counter">@Session["Pay"]$</p>
                <h4>Total Donations</h4>
            </div>
        </div>
    </div>
</section>
<!-- //stats -->
<!--/w3l-bottom-->
<section class="w3l-bottom py-5">
    <div class="container py-md-4 py-3 text-center">
        <div class="row my-lg-4 mt-4">
            <div class="col-lg-9 col-md-10 ml-auto">
                <div class="subscribe ml-auto">
                    <div class="header-section text-left">
                        <h3 class="hny-title two">
                            Get Update From
                            Anywhere
                        </h3>
                        <h4 class="my-2"> Don't Miss Out On The Good News!</h4>
                    </div>
                    <form action="#" method="post" class="subscribe-wthree pt-lg-3 mt-4">
                        <div class="flex-wrap subscribe-wthree-field">
                            <input class="form-control" type="email" placeholder="Enter your email..." name="email" required="">
                            <button class="btn btn-style btn-primary" type="submit">Subscribe</button>
                        </div>
                        <p class="mt-3">
                            By Subscribing this form, you agree to the <a href="#">privacy policy</a> and <a href="#">terms of use</a>
                        </p>
                    </form>

                </div>
            </div>
        </div>
    </div>
</section>
<!--//w3l-bottom-->
<!-- testimonials -->
<section class="w3l-clients" id="clients">
    <!-- /grids -->
    <div class="cusrtomer-layout py-5">
        <div class="container py-lg-4 py-md-3 pb-lg-0">
            <div class="heading text-center mx-auto">
                <h6 class="sub-title text-center">Here’s what they have to say</h6>
                <h3 class="hny-title mb-md-5 mb-4">People Who Have Already Visited HumainCO</h3>
            </div>
            <!-- /grids -->
            <div class="testimonial-width mt-5">
                <div id="owl-demo1" class="owl-two owl-carousel owl-theme">
                    <div class="item">
                        <div class="testimonial-content">
                            <div class="testimonial">
                                <blockquote>
                                    <span class="fa fa-quote-left" aria-hidden="true"></span>
                                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Velit beatae integer sit amet .
                                </blockquote>
                                <div class="testi-des">
                                    <div class="test-img">
                                        <img src="~/img/c1.jpg" class="img-fluid" alt="client-img">
                                    </div>
                                    <div class="peopl align-self">
                                        <h3>Rohit Paul</h3>
                                        <p class="indentity">Example City</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="testimonial-content">
                            <div class="testimonial">
                                <blockquote>
                                    <span class="fa fa-quote-left" aria-hidden="true"></span>
                                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Velit beatae integer sit amet .
                                </blockquote>
                                <div class="testi-des">
                                    <div class="test-img">
                                        <img src="~/img/c2.jpg" class="img-fluid" alt="client-img">
                                    </div>
                                    <div class="peopl align-self">
                                        <h3>Shveta</h3>
                                        <p class="indentity">Example City</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="testimonial-content">
                            <div class="testimonial">
                                <blockquote>
                                    <span class="fa fa-quote-left" aria-hidden="true"></span>
                                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Velit beatae integer sit amet .
                                </blockquote>
                                <div class="testi-des">
                                    <div class="test-img">
                                        <img src="~/img/c3.jpg" class="img-fluid" alt="client-img">
                                    </div>
                                    <div class="peopl align-self">
                                        <h3>Roy Linderson</h3>
                                        <p class="indentity">Example City</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="testimonial-content">
                            <div class="testimonial">
                                <blockquote>
                                    <span class="fa fa-quote-left" aria-hidden="true"></span>
                                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Velit beatae integer sit amet .
                                </blockquote>
                                <div class="testi-des">
                                    <div class="test-img">
                                        <img src="~/img/c4.jpg" class="img-fluid" alt="client-img">
                                    </div>
                                    <div class="peopl align-self">
                                        <h3>Mike Thyson</h3>
                                        <p class="indentity">Example City</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="testimonial-content">
                            <div class="testimonial">
                                <blockquote>
                                    <span class="fa fa-quote-left" aria-hidden="true"></span>
                                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Velit beatae integer sit amet .
                                </blockquote>
                                <div class="testi-des">
                                    <div class="test-img">
                                        <img src="~/img/c1.jpg" class="img-fluid" alt="client-img">
                                    </div>
                                    <div class="peopl align-self">
                                        <h3>Rohit Paul</h3>
                                        <p class="indentity">Example City</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="testimonial-content">
                            <div class="testimonial">
                                <blockquote>
                                    <span class="fa fa-quote-left" aria-hidden="true"></span>
                                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Velit beatae integer sit amet .
                                </blockquote>
                                <div class="testi-des">
                                    <div class="test-img">
                                        <img src="~/img/c2.jpg" class="img-fluid" alt="client-img">
                                    </div>
                                    <div class="peopl align-self">
                                        <h3>Shveta</h3>
                                        <p class="indentity">Example City</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <!-- /grids -->
    </div>
    <!-- //grids -->
</section>
<!-- //testimonials -->
<!-- Template JavaScript -->
<script src="~/js/jquery-3.3.1.min.js"></script>
<script src="~/js/theme-change.js"></script>
<script src="~/js/owl.carousel.js"></script>
<!-- script for banner slider-->
<script>
    $(document).ready(function () {
      $('.owl-one').owlCarousel({
        loop: true,
        margin: 0,
        nav: false,
        responsiveClass: true,
        autoplay: true,
        autoplayTimeout: 5000,
        autoplaySpeed: 1000,
        autoplayHoverPause: false,
        responsive: {
          0: {
            items: 1,
            nav: false
          },
          480: {
            items: 1,
            nav: false
          },
          667: {
            items: 1,
            nav: true
          },
          1000: {
            items: 1,
            nav: true
          }
        }
      })
    })
</script>
<!-- //script -->
<!-- script for tesimonials carousel slider -->
<script>
    $(document).ready(function () {
      $("#owl-demo1").owlCarousel({
        loop: true,
        margin: 20,
        nav: false,
        responsiveClass: true,
        responsive: {
          0: {
            items: 1,
            nav: false
          },
          736: {
            items: 2,
            nav: false
          },
          1000: {
            items: 3,
            nav: false,
            loop: true
          }
        }
      })
    })
</script>
<!-- //script for tesimonials carousel slider -->
<!-- stats number counter-->
<script src="~/js/jquery.waypoints.min.js"></script>
<script src="~/js/jquery.countup.js"></script>
<script>
    $('.counter').countUp();
</script>
<!-- //stats number counter -->
<!--/MENU-JS-->
<script>
    $(window).on("scroll", function () {
      var scroll = $(window).scrollTop();

      if (scroll >= 80) {
        $("#site-header").addClass("nav-fixed");
      } else {
        $("#site-header").removeClass("nav-fixed");
      }
    });

    //Main navigation Active Class Add Remove
    $(".navbar-toggler").on("click", function () {
      $("header").toggleClass("active");
    });
    $(document).on("ready", function () {
      if ($(window).width() > 991) {
        $("header").removeClass("active");
      }
      $(window).on("resize", function () {
        if ($(window).width() > 991) {
          $("header").removeClass("active");
        }
      });
    });
</script>