@{
    ViewBag.Title = "Services";
    Layout = "~/Views/_LayoutPage1.cshtml";
}

<!-- about breadcrumb -->
<section class="w3l-about-breadcrumb text-left">
    <div class="breadcrumb-bg breadcrumb-bg-about py-sm-5 py-4">
        <div class="container">
            <h2 class="title">Services</h2>
            <ul class="breadcrumbs-custom-path mt-2">
                <li><a href="#url">Home</a></li>
                <li class="active"><span class="fa fa-arrow-right mx-2" aria-hidden="true"></span> Services </li>
            </ul>
        </div>
    </div>
</section>
<!-- //about breadcrumb -->
<!-- call to action 5 -->
<section class="w3l-cta5">
    <div class="call-to-action-5 py-5">
        <div class="container py-lg-5">
            <div class="call-to-action-5-content text-center">
                <h3 class="hny-title">We Are An Expert In This Field</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Possimus sapiente commodi maiores ullam est nostrum aliquam!</p>
                <a href="#url" class="btn btn-style btn-primary mb-4">Read More</a>
                <div class="three-grids row">
                    <div class="col-lg-4 col-md-6 grid mt-md-0 mt-4">
                        <div class="icon">
                            <span class="fa fa-pagelines" aria-hidden="true"></span>
                        </div>
                        <div class="icon-info">
                            <h4><a href="#">Agricultural Products</a></h4>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Possimus sapiente commodi maiores ullam est nostrum aliquam!</p>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 grid mt-md-0 mt-4">
                        <div class="icon">
                            <span class="fa fa-flask" aria-hidden="true"></span>
                        </div>
                        <div class="icon-info">
                            <h4><a href="#">Fresh Dairy Products</a></h4>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Possimus sapiente commodi maiores ullam est nostrum aliquam!</p>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 mt-lg-0 mt-4 grid">
                        <div class="icon">
                            <span class="fa fa-lemon-o" aria-hidden="true"></span>
                        </div>
                        <div class="icon-info">
                            <h4><a href="#">Organic Fertilizers</a></h4>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Possimus sapiente commodi maiores ullam est nostrum aliquam!</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- /call to action 5 -->
<section class="w3l-features14">
    <div class="w3l-feature-6-main py-5">
        <div class="container py-lg-5">
            <div class="wrapper-max">
                <div class="header-section text-center mb-5">
                    <h6 class="sub-title">Services We Do</h6>
                    <h3 class="hny-title two">
                        Services We Provided
                    </h3>
                </div>
                <div class="grid mt-lg-4">
                    <div class="w3l-feature-6-gd">
                        <div class="icon"><span class="fa fa-fire-extinguisher"></span></div>
                        <div class="w3l-feature-6-gd-info">
                            <h3><a href="#url">Hedge Cutting</a></h3>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore.</p>
                        </div>
                    </div>
                    <div class="w3l-feature-6-gd">
                        <div class="icon"><span class="fa fa-american-sign-language-interpreting"></span></div>
                        <div class="w3l-feature-6-gd-info">
                            <h3><a href="#url">Garden Clean Up</a></h3>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore.</p>
                        </div>
                    </div>
                    <div class="w3l-feature-6-gd">
                        <div class="icon"><span class="fa fa-shower"></span></div>
                        <div class="w3l-feature-6-gd-info">
                            <h3><a href="#url">Watering</a></h3>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore.</p>
                        </div>
                    </div>
                </div>

                <div class="grid">
                    <div class="w3l-feature-6-gd">
                        <div class="icon"><span class="fa fa-leaf"></span></div>
                        <div class="w3l-feature-6-gd-info">
                            <h3><a href="#url">Tree Planting</a></h3>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore.</p>
                        </div>
                    </div>
                    <div class="w3l-feature-6-gd">
                        <div class="icon"><span class="fa fa-superpowers"></span></div>
                        <div class="w3l-feature-6-gd-info">
                            <h3><a href="#url">Rush Removal</a></h3>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore.</p>
                        </div>
                    </div>
                    <div class="w3l-feature-6-gd">
                        <div class="icon"><span class="fa fa-flask"></span></div>
                        <div class="w3l-feature-6-gd-info">
                            <h3><a href="#url">Healthy Milk</a></h3>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore.</p>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>
<!--/-->
<section class="w3l-grids1">
    <div class="hny-three-grids py-5">
        <div class="container py-lg-5">
            <div class="row">
                <div class="col-lg-3 col-sm-6 mt-0 grids5-info">
                    <a href="#url"><img src="~/img/g1.jpg" class="img-fluid" alt=""></a>
                    <h5>Lorem</h5>
                    <h4><a href="#url">Industry Oriented </a></h4>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Veniam esse? dolores impedit doloremque.</p>
                </div>
                <div class="col-lg-3 col-sm-6 mt-lg-0 mt-5 grids5-info">
                    <a href="#url"><img src="~/img/g2.jpg" class="img-fluid" alt=""></a>
                    <h5>Lorem</h5>
                    <h4><a href="#url">Fresh Vegetables</a></h4>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Veniam esse? dolores impedit doloremque.</p>
                </div>
                <div class="col-lg-3 col-sm-6 mt-lg-0 mt-5 grids5-info">
                    <a href="#url"><img src="~/img/g3.jpg" class="img-fluid" alt=""></a>
                    <h5>Lorem</h5>
                    <h4><a href="#url">Fresh Milk</a></h4>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Veniam esse? dolores impedit doloremque.</p>
                </div>
                <div class="col-lg-3 col-sm-6 mt-lg-0 mt-5 grids5-info">
                    <a href="#url"><img src="~/img/g4.jpg" class="img-fluid" alt=""></a>
                    <h5>Lorem</h5>
                    <h4><a href="#url">Organic Eggs</a></h4>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Veniam esse? dolores impedit doloremque.</p>
                </div>
            </div>
        </div>
    </div>
</section>
<!--//-->
<!-- Template JavaScript -->
<script src="~/js/jquery-3.3.1.min.js"></script>
<script src="~/js/theme-change.js"></script>
<!--/MENU-JS-->
<script>
    $(window).on("scroll", function () {
      var scroll = $(window).scrollTop();

      if (scroll >= 80) {
        $("#site-header").addClass("nav-fixed");
      } else {
        $("#site-header").removeClass("nav-fixed");
      }
    });

    //Main navigation Active Class Add Remove
    $(".navbar-toggler").on("click", function () {
      $("header").toggleClass("active");
    });
    $(document).on("ready", function () {
      if ($(window).width() > 991) {
        $("header").removeClass("active");
      }
      $(window).on("resize", function () {
        if ($(window).width() > 991) {
          $("header").removeClass("active");
        }
      });
    });
</script>