<!DOCTYPE html>


<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <script src="~/Scripts/jquery-3.3.1.js"></script>
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <script src="~/Scripts/bootstrap.js"></script>
    <script src="~/js/bootstrap.js"></script>
    <link href="~/Content/jquery.dataTables.css" rel="stylesheet" />
    <script src="~/Scripts/jquery.dataTables.js"></script>
    <link href="~/css/bootstrap.css" rel="stylesheet" />

</head>
<body style="background-color: rgba(245,245,245,255) ">
    <header style="background-color: black; color: white; text-align:center">
        <br /><h3>.: Association HumainCO :.</h3><br />
    </header>
    <nav class="row" style="background-color: #106cfc; height: 34px; margin: 0px 0px 0px 0px">
        <div class="btn-group">
           @if (Session["see"] == "1")
           {
                <button class="btn btn-primary" style="margin: 0px 0px 0px 0px" onclick="location.href ='https://localhost:44323/Home/About'">About</button>
                <button class="btn btn-primary" style="margin: 0px 0px 0px 0px" onclick="location.href= 'https://localhost:44323/Home/Index'">HumainCo</button>
                <button class="btn btn-primary" style="margin: 0px 0px 0px 0px" onclick="location.href= 'https://localhost:44323/authentification.aspx'">Se Deconnecter</button>
            }
         
        </div>
    </nav>
    <main class="row" style="margin: 2% 2% 2% 2%; background-color: rgba(245,245,245,255); width: 96%">
        <div class="container" >
            @RenderBody()
        </div>
    </main>
    <footer style="background-color: black; color: white; text-align:center">
        <br /><small>Association Province.</small><br /><br />
    </footer>
</body>
</html>
 