<!DOCTYPE html>
<html>

<head>
    <title>
        Print the content of a div
    </title>

    <!-- Script to print the content of a div -->
    <script>
        function printDiv() {
            var divContents = document.getElementById("GFG").innerHTML;
            var a = window.open('', '', 'height=500, width=500');
            a.document.write('<html>');
            a.document.write('<body > <h1>Div contents are <br>');
            a.document.write(divContents);
            a.document.write('</body></html>');
            a.document.close();
            a.print();
        }
    </script>
</head>

<body style="text-align:center;">

    <div id="GFG" style="background-color: green;">

        <h2>Geeksforgeeks</h2>

        <p>
            This is inside the div and will be printed on the screen after the click.
            <img id='output_image' width="84px" height="84px" />
        </p>
    </div>



    <input type="file" id="file_photo" onchange="preview_image(event)" name="item_image"></input>

    <input type="button" value="click" onclick="printDiv()">

    <script>
        function preview_image(event) {

            document.getElementById('output_image').style.display = 'block';
            var reader = new FileReader();
            reader.onload = function() {
                var output = document.getElementById('output_image');
                output.src = reader.result;
            }
            reader.readAsDataURL(event.target.files[0]);
        };
    </script>
</body>

</html>